.page__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white-color;
}

.page__nav {
    display: flex;
    flex-direction: column;
}

.main-nav__link {
    padding-top: 40px;
}

.page__logo {
    padding-top: 45px;
    margin-bottom: 140px;
}

.page__switch {
    margin-top: 140px;
    margin-bottom: 50px;
}