*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.page {
    padding: 160px;
    height: auto;
    width: 1280px;
    display: flex;
}

.page__content {
    background-color: #EFF3F9;
}